.sidebarContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logoContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.logoContainer.collapsed {
  justify-content: center;
}

.logoContainer.collapsed img {
  display: none;
}
.collapseIconContainer {
    color: rgb(117, 121, 128);
    cursor: pointer;
    font-size: 1.25rem;
}
.logoImage {
  width: 6rem;
}
.searchBox {
    height: 2.4rem;
    margin-bottom: 1rem;
}
.moreDetails {
  margin-top: auto;
  height: 11rem;
  background-color: red;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #fff 100%), url("./purple_background_1.jpg");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.moreDetailsIcon {
    font-size: 1.25rem;
    margin-bottom: 0.4rem;
}
.learnMore {
    background-color: black;
    height: 3rem;
    line-height: 3rem;
    margin-top: auto;
    border-radius: 2rem;
    font-weight: 300;
    cursor: pointer;
    font-size: 0.85rem;
}
.sidebarFooterText {
    font-size: 0.65rem;
    text-align: center;
    color: rgb(117, 121, 128);
}
