.playButton {
  color: #8e25ebff;
  font-size: 1.15rem;
  cursor: pointer;
}
.deleteButton {
  color: rgb(255, 77, 79);
  font-size: 1.15rem;
  cursor: pointer;
}
.nameContainer {
  cursor: pointer;
}

.nameContainer:hover {
  color: #8e25ebff;
}
