.infoCardContainer {
  display: flex;
  background-color: white;
  width: 15rem;
  padding: 1rem;
  gap: 0.8rem;
  border-radius: 6px;
  align-items: center;
}
.logoImage {
  width: 2.5rem;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardDetails > div:nth-child(1) {
  font-weight: 500;
}
.cardDetails > div:nth-child(2) {
  font-weight: 300;
  color: rgb(117, 121, 128);
}
.cursorActive {
  cursor: pointer;
}
.cursorActive:hover {
  background-color: rgb(252, 252, 252);
}