.datasetSelectorContainer {
  width: 100%;
  height: 100%;
}
.datasetsListingContainer {
  padding-right: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  height: calc(100vh - 33rem);
}
.searchBox {
  height: 2.4rem;
  width: 50%;
}
